@page
@model wentylator.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="user-info text-center">
                    <img src="~/user.jpg" alt="User Avatar" class="rounded-circle">
                    <h4>@User.Identity.Name</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="settings-menu">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a asp-page="/FanSettings" class="btn btn-secondary btn-block text-white" style="font-family: Georgia; font-size: 20px;">Fan Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        You must be logged in to access this page.
    </div>
}
